@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ITC Garamond";
  src: url(/assets/fonts/ITC-Garamond/ITCGaramondStdLightNarrow.woff)
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Garamond Italic";
  src: url(/assets/fonts/ITC-Garamond/ITCGaramondStdLightNarrowItalic.woff)
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Elza";
  src: url(/assets/fonts/Elza.woff) format("woff");
  font-weight: normal;
  font-display: swap;
}

/* adjusted dimensions */
@font-face {
  font-family: "ITCfallback";
  src: local("Times New Roman");
  size-adjust: 80%;
}
/* ascent-override: 105%;
  descent-override: 35%;
  line-gap-override: 10%;
} */

h1 {
  font-size: 1.25rem;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* scroll-behavior: smooth; */
}

/* .content {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */

.x-margin {
  margin-left: 6rem;
  margin-right: 6rem;
}

/* REPLACE! */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img,
.no-drag {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(37, 100, 235);
}

.words {
  overflow: hidden;
}
.rotate {
  display: block;
  height: 100%;
  padding-left: 10px;
  animation: spin_words 6s infinite;
}
@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.googly {
  width: 39px;
  height: 40px;
  border-radius: 100%;
  border: 0.7px solid rgb(215, 215, 215);
  margin-bottom: 7px;
  overflow: hidden;
  position: relative;

  box-shadow: 1px 1px 3px rgba(63, 63, 63, 0.861),
    inset 4px -5px 8px rgba(140, 140, 140, 0.416),
    inset 1px 4px 2px rgba(224, 224, 224, 0.224);
}

.pupil {
  background: #1f1f1f;
  border: 0.7px solid rgb(135, 135, 135);
  width: 63%;
  height: 63%;
  position: relative;
  left: 25%;
  bottom: 18%;
  transform-origin: bottom;
  border-radius: 100%;
}

.googly-mobile {
  width: 29px;
  height: 30px;
  border-radius: 100%;
  border: 0.7px solid rgb(215, 215, 215);
  margin-bottom: 9px;
  overflow: hidden;
  position: relative;

  box-shadow: 1px 1px 3px rgba(63, 63, 63, 0.861),
    inset 4px -5px 8px rgba(140, 140, 140, 0.416),
    inset 1px 4px 2px rgba(224, 224, 224, 0.224);
}

.pupil-mobile {
  background: #1f1f1f;
  border: 0.7px solid rgb(135, 135, 135);
  width: 69%;
  height: 63%;
  position: absolute;
  left: 60%;
  top: 69%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.highlight {
  height: 10px;
  width: 30px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 3px 5px #ffffff;
  opacity: 50%;
  border-radius: 80%;
  position: absolute;
  top: 15%;
}

.flower {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.expand {
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 150ms;
}

.expand:hover {
  transform: scale(0.98);
  opacity: 0.85;
}

/* about page */

.yeji {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.canvas {
  z-index: 20;
  position: absolute;
  top: 12%;
  display: block;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut 0.2s forwards;
  animation-timing-function: ease-out;
}

.controls {
  z-index: 25;
}

.selected {
  border: 2px solid rgb(215, 215, 215);
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fade {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 57%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 0
    )
    100% 50% / 100% 100% repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.stagger-fade {
  /* staggered fade on page load */
  opacity: 0;
  transform: translateY(-20px);
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.stagger-fade:nth-of-type(1) {
  animation-delay: 150ms;
}
.stagger-fade:nth-of-type(2) {
  animation-delay: 250ms;
}
.stagger-fade:nth-of-type(3) {
  animation-delay: 350ms;
}
.stagger-fade:nth-of-type(4) {
  animation-delay: 450ms;
}
.stagger-fade:nth-of-type(5) {
  animation-delay: 550ms;
}
.stagger-fade:nth-of-type(6) {
  animation-delay: 650ms;
}
.stagger-fade:nth-of-type(7) {
  animation-delay: 750ms;
}
.stagger-fade:nth-of-type(8) {
  animation-delay: 850ms;
}
.stagger-fade:nth-of-type(9) {
  animation-delay: 950ms;
}
.stagger-fade:nth-of-type(10) {
  animation-delay: 1050ms;
}
.stagger-fade:nth-of-type(11) {
  animation-delay: 1150ms;
}
.stagger-fade:nth-of-type(12) {
  animation-delay: 1250ms;
}
