---
import MainLayout from "../layouts/MainLayout.astro"
---
<MainLayout title="About Yeji" seoTitle="About Yeji" seoDesc="Current student at USC's Iovine and Young Academy and Viterbi Computer Science.">

<div class="flex gap-4 m-auto mt-20 mx-40 w-auto z-10 font-serif content">
  <img src="../../public/assets/images/yeji.png" alt="yeji seo halftone" class="yeji w-128 h-fit opacity-55">
  <div class="mt-10">
    <div class="flex gap-4">
      <img src="/assets/images/yejiWriting.webp" class="w-40 h-fit">
      <div class="text-6xl pt-2">
        <h1>is a...</h1>
      </div>
    </div>
    <div class=" text-neutral-400 text-xl leading-6 w-128 mt-4">
      <p>
        ...current USC student and 1 of 42 members in the 9th cohort of the Iovine and Young Academy, studying integrated Computer Science and Design.
      </p>
      <p class="mt-5">
        I started my journey in college as a designer who fell in love with software and its infinite potential to create. As I studied computer science and graphics, I found my true passion: prototyping in the great, sometimes-silly space where technology and art collide. 
      </p>
      <p class="mt-5">
        My philosophies: <br/>
        1. never losing childish wonder and curiosity in learning.<br/>
        2. working and studying in intersections.<br/>
        3. trying to leave things better than I found them.
      </p>
      <p class="mt-5">
        I’m always just an email away. Let’s create some magic together. 🪄✨
      </p>

    </div>
  </div>

</div>
