---
import MainLayout from "../layouts/MainLayout.astro"
import Project from "../components/Project.astro"

---
<MainLayout title="Yeji Fusebox Project" seoTitle="Fusebox" seoDesc="Connecting to Create.">

<div class="mt-20 mx-20 font-serif" >
  <h1 class="header">Fusebox</h1>
  <h3 class="font-sans text-neutral-400">Connecting to Create.</h3>
  <!-- sandbox! -->
  <div class=" mt-12 flex flex-wrap gap-5 w-auto">
    <Project projectName="Fusebox" type="full-stack" imgsrc="../../public/assets/images/tattoo.webp"></Project>
    <Project projectName="Fusebox" type="full-stack"></Project>
    <Project projectName="Fusebox" type="full-stack"></Project>
    <Project projectName="Fusebox" type="full-stack"></Project>

  </div>

</div>