---
import MainLayout from "../layouts/MainLayout.astro"

---
<MainLayout title="Yeji Fusebox Project" seoTitle="Fusebox" seoDesc="Connecting to Create.">

<div class="mt-20 mx-14 sm:mx-24 font-serif" >
  <div class="flex flex-col justify-center items-center">
    <h2 class="text-md font-mono">[WE-ARE-GAME]</h2>
    <h1 class="text-4xl">A platform that helps high school athletes with counselors.</h1>
  </div>

  <!-- DETAILS -->
  <div class="flex mt-4 gap-10 font-sans text-sm justify-center">
    <!-- timeline -->
    <div class="w-32 leading-4">
      <h2 class="font-serif text-2xl">Timeline:</h1>
      9.2023 - 5.2024
    </div>
    <!-- team -->
    <div class="w-32 leading-4">
      <h2 class="font-serif text-2xl">Team:</h1>
      Rory An, Paris Little, Joanna Poon, Lauren Graham, Henry Groome
    </div>
    <!-- role --> 
    <div class="w-32 leading-4">
      <h2 class="font-serif text-2xl">Role:</h1>
      <p>Project Lead & Product Manager, Full-Stack Developer, Designer</p>
    </div>
    <!-- tools -->
    <div class="w-32 leading-4">
      <h2 class="font-serif text-2xl">Tools:</h1>
      <p>HTML, CSS, JavaScript, PHP, SQL</p>
    </div>
  </div>



</div>