---
import MainLayout from "../layouts/MainLayout.astro"

---
<MainLayout title="Yeji Fusebox Project" seoTitle="Fusebox" seoDesc="Connecting to Create.">

<div class="mt-12 mx-14 sm:mx-24 font-serif" >
  <div class="flex flex-col justify-center items-center gap-3">
    <h2 class="text-md font-mono">[WE-ARE-GAME]</h2>
    <h1 class="text-4xl w-108 text-center leading-8">A platform that helps high school athletes with counselors.</h1>
  </div>

  <!-- DETAILS -->
  <div class="flex mt-8 gap-8 font-sans text-sm justify-center">
    <!-- timeline -->
    <div class="w-40 leading-4">
      <h2 class="font-serif text-2xl">Timeline:</h1>
      9.2023 - 5.2024
    </div>
    <!-- team -->
    <div class="w-40 leading-4">
      <h2 class="font-serif text-2xl">Team:</h1>
      1 Project Manager<br/>
      1 Tech Lead<br/>
      5 Developers<br/>
      2 Designers<br/>
    </div>
    <!-- role --> 
    <div class="w-40 leading-4">
      <h2 class="font-serif text-2xl">Role:</h1>
      <p>Full-Stack Developer</p>
    </div>
    <!-- tools -->
    <div class="w-40 leading-4">
      <h2 class="font-serif text-2xl">Tools:</h1>
      <p>PostgreSQL, Express, React, Node.js, HTML/CSS, Tailwind</p>
    </div>
  </div>



</div>