---
import MainLayout from "../layouts/MainLayout.astro"

---
<MainLayout title="Yeji We Are Game Project" seoTitle="We Are GAME" seoDesc="Connecting to Create.">

<div class="mt-0 mx-14 sm:mx-24 font-serif" >
  <div class="flex flex-col justify-center items-center gap-3">
    <h2 class="text-md font-mono">[WE-ARE-GAME]</h2>
    <h1 class="text-4xl w-108 text-center leading-8">A platform that helps connect high school athletes with counselors.</h1>
  </div>

  <!-- DETAILS -->
  <div class="flex mt-8 gap-8 font-sans text-sm justify-center">
    <!-- timeline -->
    <div class="w-40 leading-4">
      <h2 class="font-serif text-xl">Timeline:</h1>
      9.2023 - 5.2024
    </div>
    <!-- type --> 
    <div class="w-40 leading-4">
      <h2 class="font-serif text-xl">Type:</h1>
      <p>Full-Stack Development<br/>
      Web Application<br/>
      (Team)<br/>
      </p>
    </div>
    <!-- tools -->
    <div class="w-40 leading-4">
      <h2 class="font-serif text-xl">Tools:</h1>
      <p>PostgreSQL, Express, React, Node.js, HTML/CSS, Tailwind</p>
    </div>
  </div>

  <!-- OVERVIEW -->
  <div class="font-sans mt-16 flex items-center justify-center align-middle gap-12">
    <img src="/assets/images/wearegame.webp" alt="we are game" class="max-w-72 sm:max-w-128 max-h-fit drop-shadow-md rounded-lg shrink-0">
    <div class="flex flex-col gap-4">
      <h3 class="font-mono">[OVERVIEW]</h3>
      <p class="text-lg leading-6 w-92">
        Since 2008, the nonprofit <a href="https://www.wearegame.org/" target="_blank"
        aria-label="We Are GAME Website" class="text-lime-900 underline">We Are G.A.M.E.</a> has helped guide and empower hundreds of student athletes in their transition to the collegiate level.
      </p>
      <p class="text-lg leading-6 w-92 mb-4">
        My team at <a href="https://ctcusc.com/" target="_blank"
        aria-label="CTC Website" class="text-lime-900 underline">CTC</a> was assigned with developing a web-based interface to improve internal organization, consolidate information, and streamline communication between students and mentors.
      </p>
    </div>
  </div>
  <hr class="mt-12 border-neutral-300"/>
  <!-- BREAKDOWN -->
  <div class="mt-16 flex items-top justify-center align-top gap-12">
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl w-108 leading-8">Why a new interface?</h2>
      <p class="font-sans w-108 text-lg leading-6">
        Simply put, there... wasn’t really one to begin with. The entire operation was run for the last 15 years using LONGG Excel sheets—which adds a lot of hassle when you’re trying to scale. 
      </p>
    </div>
    <img src="/assets/images/wearegame.webp" alt="we are game" class="max-w-72 sm:max-w-128 max-h-fit drop-shadow-md rounded-lg shrink-0">
  </div>

</div>