---
import MainLayout from "../layouts/MainLayout.astro"
import ProjectCard from "../components/ProjectCard.astro"
import { Image } from 'astro:assets';
import flowerImage from '../../public/assets/images/flowers.png'
---

<MainLayout title="Yeji Seo Portfolio Site" seoTitle="Yeji's World" seoDesc="Current student at USC's Iovine and Young Academy and Viterbi Computer Science.">
  <div class="max-w-vw">
  <!-- Landing intro -->
  <img src='../assets/images/condensedflower.webp' alt="flower condensed background" class=" w-55 flower opacity-50 -z-10 absolute block sm:hidden left-56 overflow-x-hidden" />
  <img src='../assets/images/ascii.webp' alt="flower background" class="flower w-260 opacity-50 -z-10 absolute left-116 hidden sm:block top-40" />
  <div class="max-w-full">
    <div class="font-serif text-neutral-400 w-96 mt-4 sm:mt-8 mx-14 sm:mx-32">
      <div class="flex gap-3 sm:gap-4 h-14 content-end items-end">
        <h1 class="text-4xl sm:text-5xl text-neutral-500 stagger-fade">hi, I’m <span class="font-italic text-blue-600">Yeji</span></h1>
        <!-- mobile shake googy -->
        <div class="googly-mobile block sm:hidden">
          <div class="pupil-mobile" id="shakeObject"></div>
          <div class="highlight"></div>
        </div>
        <!-- googly goo -->
        <div class="googly hidden sm:block stagger-fade">
            <div class="pupil"></div>
            <div class="highlight"></div>
        </div>
      </div>
      <h1 class="text-2xl sm:text-5xl leading-4 sm:leading-9 text-neutral-500 stagger-fade">welcome to my world!</h1>
      
      <h2 class="text-md sm:text-2xl w-56 sm:w-84 mt-4 leading-4 sm:leading-6 stagger-fade">
        currently: studying human-centered design/entrepreneurship <a href="https://iovine-young.usc.edu/" target="_blank">@USC-IYA↗&#xFE0E;</a> & <a href="https://www.cs.usc.edu/academic-programs/undergrad/computer-science-games/" target="_blank">computer science @USC-GAMES↗&#xFE0E;</a>. 
      </h2>
      <h2 class="text-md sm:text-2xl w-56 sm:w-84 mt-6 leading-4 sm:leading-6 stagger-fade">
        i’m a design engineer who loves to play in: product design, development, prototyping, fun interactions, ++. 
      </h2>

      <div class="text-md sm:text-xl mt-6 text-neutral-400 flex max-w-80  stagger-fade">
        <p>*and on the side..</p>
        <div class="words h-6 overflow-hidden">
          <span class="rotate">soymilk enthusiast.</span>
          <span class="rotate">amateur skater.</span>
          <span class="rotate">doodler.</span>
          <span class="rotate">playlist curator.</span>
          <span class="rotate">soymilk enthusiast.</span>
        </div>
      </div>
  </div>

  <!-- Current projects -->
  <div class="mt-20 ml-14 sm:mx-32">
    <div class="w-auto z-10 font-serif flex gap-2 stagger-fade">
      <div class="text-neutral-500 text-3xl pb-4">projects. (more coming soon!)</div>
      <div class="text-neutral-300 text-2xl mb-2 animate-bounce">↓</div>
    </div>
    <!-- projects -->
    <div class="flex gap-6 flex-wrap mt-4">
      <ProjectCard 
        title="The StoryGraph • UX Design" 
        cardWidth="128" 
        imageSrc="/assets/images/storygraph.webp" 
        imageClass="w-116 mt-4 group-hover:scale-102" 
        link="https://www.figma.com/proto/1GGlcr1JEq7slx0zS53tKa/Career-Case-Studies?page-id=0%3A1&node-id=1-2&node-type=frame&viewport=864%2C471%2C0.05&t=6SLbc7dnNFzr2wvj-1&scaling=contain&content-scaling=fixed"
      />
      <ProjectCard 
      title="Encore • UX/Brand Design (Team)" 
      cardWidth="100" 
      imageSrc="/assets/images/encore.webp" 
      imageClass="absolute translate-y-0 top-16 w-72 mt-4 rounded-lg drop-shadow-xl group-hover:translate-y-[-35px] group-hover:rotate-[-3deg] transition ease-out" 
      link="https://www.figma.com/proto/1GGlcr1JEq7slx0zS53tKa/Yeji-Seo-Case-Studies?node-id=13-23&t=AtnKcVpdvkXMjAT1-1"
      />
      <!-- <ProjectCard 
      title="Namu • UX Design, Development" 
      cardWidth="116" 
      imageSrc="/assets/images/namu.webp" 
      imageClass="w-100 mt-4 group-hover:scale-102" 
    />  -->
      <!-- <div class="flex gap-6 flex-wrap">
        <a href="" target="blank_">
          <div class="w-104 min-h-full bg-neutral-100 bg-opacity-40 backdrop-blur-sm rounded-md flex flex-col items-center p-5 group hover:bg-neutral-200 transition ease-out drop-shadow-md stagger-fade overflow-hidden">
            <div class="flex justify-between w-full text-neutral-500 group-hover:text-neutral-600 transition">
              <h3 class="z-10">Fusebox • UX Design, Full-Stack (Team Lead)</h3>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#737373" class="h-4 w-4">
                <path d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"></path>
              </svg>
            </div>
            <img src="/assets/images/businesscard2.webp" alt="card2" class="absolute w-92 left-28 top-28 rotate-[6deg] transform transition-transform duration-100 ease-in-out origin-bottom-right group-hover:rotate-[8deg] group-hover:scale-105">
            <img src="/assets/images/businesscard.webp" alt="card1" class="absolute w-92 left-28 top-24 rotate-[6deg] transform transition-transform duration-100 ease-in-out group-hover:rotate-[0deg] group-hover:scale-105">
          </div>
        </a>
      </div> -->
      <ProjectCard 
        title="We Are Game • Full-Stack, UI Development" 
        cardWidth="116" 
        imageSrc="/assets/images/wearegame.webp" 
        imageClass="w-104 mt-4 group-hover:scale-102" 
        link="https://www.wearegame.org/_files/ugd/95da29_a165d67d49c64dff8f0349e3501fcac2.pdf"
      /> 
      <!-- <ProjectCard 
        title="Treffa • UI/Brand Design" 
        cardWidth="92" 
        imageSrc="/assets/images/treffa.webp" 
        imageClass="w-104 mt-4 group-hover:scale-102" 
      />  
     -->
  </div>
  <div class="flex justify-center text-center mt-20 text-neutral-400">coded with &lt;3</div>
  </div>
</div>

  <div class="mt-20">
  </div>

<!-- googly eye script -->
  <script>
  document.addEventListener('astro:page-load', () => {
    // Runs on every page navigation!
    const pupils: NodeListOf<HTMLElement> = document.querySelectorAll(".pupil");

    for (let i = 0; i < pupils.length; i++) {
        const offset = pupils[i].getBoundingClientRect();
        (pupils[i] as any)['centerX'] = offset.left + offset.width / 2;
        (pupils[i] as any)['centerY'] = offset.bottom + offset.height / 2;
    }

    function googly(e: MouseEvent | TouchEvent): void {
        let mouseX: number;
        let mouseY: number;

        if ('targetTouches' in e && e.targetTouches[0]) {
            e.preventDefault();
            mouseX = e.targetTouches[0].pageX;
            mouseY = e.targetTouches[0].pageY;
        } else {
            mouseX = (e as MouseEvent).clientX + window.scrollX;
            mouseY = (e as MouseEvent).clientY + window.scrollY;
        } 
        for (let i = 0; i < pupils.length; i++) {
            const pupil = pupils[i] as any; 
            pupil['radians'] = Math.atan2(mouseX - pupil['centerX'], mouseY - pupil['centerY']);
            pupil['degree'] = (pupil['radians'] * (180 / Math.PI) * -1);
            pupil.style.transform = `rotate(${pupil['degree'] + 180}deg)`;
        }
    }
    window.addEventListener('mousemove', googly);
    window.addEventListener('touchstart', googly);
    window.addEventListener('touchmove', googly);

  }, { once: false });
  </script>
</MainLayout>


