---
import MainLayout from "../layouts/MainLayout.astro"
import Project from "../components/Project.astro"

---
<MainLayout title="Yeji's Playground" seoTitle="Yeji's Playground" seoDesc="Current student at USC's Iovine and Young Academy and Viterbi Computer Science.">

<div class="mt-8 mx-14 sm:mx-24 font-serif" >
  <div class="flex">
    <div class="flex">
      <h1 class="text-5xl text-neutral-500 rotate-2">play</h1>
      <h1 class="text-5xl text-neutral-500 rotate-3 leading-9">ground.</h1>
    </div>
    <img src="/assets/images/color.webp" alt="color blocks" class=" w-20 h-fit shrink-0 pt-3 mx-2">
  </div>
  <h3 class="font-sans text-neutral-400">(aka my sandbox of creative experiments)</h3>
  <!-- sandbox! -->
  <div class=" my-12 flex flex-wrap gap-5 w-auto">
    <Project projectName="Lights Out" type="Procreate" imgsrc="assets/images/sandbox/botstancomp.webp" bgSize="cover"></Project>
    <Project projectName="Jeong" type="Blender" imgsrc="assets/images/sandbox/jeong.webp" bgSize="cover"></Project>
    <Project projectName="The Man" type="Ink (freehand)" imgsrc="assets/images/sandbox/theMan.webp" bgSize="cover"></Project>
    <Project projectName="Self-titled" type="Photoshop" imgsrc="assets/images/sandbox/yeggi.webp" bgSize="contain"></Project>
    <Project projectName="Child's Play" type="Procreate" imgsrc="assets/images/sandbox/childsplay.webp" bgSize="cover"></Project>
    <Project projectName="Doodling" type="Ink" imgsrc="assets/images/sandbox/doodling.webp" bgSize="cover"></Project>
    <Project projectName="AGF" type="Photoshop" imgsrc="assets/images/sandbox/colorful.webp" bgSize="contain"></Project>
    <Project projectName="Grocer-ease" type="Photoshop" imgsrc="assets/images/sandbox/grocerase.webp" bgSize="contain"></Project>
    <Project projectName="Animated Lyric Video" type="After Effects" imgsrc="assets/images/sandbox/cugirl.webp" bgSize="cover"></Project>
    <Project projectName="College Domo" type="Fusion" imgsrc="assets/images/sandbox/domoscene.webp" bgSize="cover"></Project>
    <Project projectName="Conquest" type="Photoshop" imgsrc="assets/images/sandbox/ConquestMap.webp" bgSize="contain"></Project>
    <Project projectName="Delicate" type="Figma" imgsrc="assets/images/sandbox/delicate.webp" bgSize="contain"></Project>
  </div>

</div>
</MainLayout>
