---
const {title, seoDesc, seoTitle} = Astro.props;
import MainHead from "../layouts/MainHead.astro"
import Nav from "../components/Nav.tsx"

---
<html lang="en">
  <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc}></MainHead>
  <body>
		<!-- header -->
			<Nav />
			<!-- page content -->
    	<slot />
  </body>
</html>

